@import url('jquery.mobile-1.3.1.css');

div#read div[data-role=content]>div.header>p{
  margin: 0;
  font-style: italic;
}

div#read div[data-role=content]>div.header>h3{
  margin-top: 0;
  margin-bottom: 0.2em;
}

div#read div[data-role=content]>div.header{
  margin-bottom: 2em;
}

div#read div[data-role=content]>div.main img,
div#read div[data-role=content]>div.main object,
div#read div[data-role=content]>div.main iframe,
div#read div[data-role=content]>div.main audio,
div#read div[data-role=content]>div.main video {
  max-width: 100%;
}

div#read div[data-role=content]>div.main pre {
  white-space: pre-wrap;
}

#settings div.version {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 1em 0em 0.2em 0em;
  padding: 1em 0px 0px 0px;
  text-align: center;
}

#settings div.version p{
  margin: 0px;
  padding: 0px;
}

/* override so that the title goes as wide as possible
 * without being over the buttons */
.ui-header .ui-title{
  margin-left: 6.2em;
  margin-right: 6.2em;
}
